$red: hsl(0, 100%, 74%);
$green: hsl(154, 59%, 51%);
$blue: hsl(248, 32%, 49%);
$Dark-Blue: hsl(249, 100%, 85%);
$Grayish-Blue: hsl(246, 25%, 77%);
* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  background: $red url(images/bg-intro-desktop.png) repeat center center/cover;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

input {
  display: block;
  width: 100%;
  padding: 15px 25px;
  border-radius: 5px;
  border: 1px solid $Grayish-Blue;
  font-size: 14px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;

  &:focus {
    border: 1px solid $blue;
    outline: none;
  }
}

small {
  display: block;
  color: #aaa;
  font-size: 12px;
  margin: 8px;
  font-weight: 500;
  a {
    text-decoration: none;
    color: $red;
    font-weight: 600px;
  }
}

button {
  background-color: $green;
  display: block;
  width: 100%;
  padding: 15px 25px;
  border: 2px solid $green;
  font-size: 14px;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  transition: transform 0.4s ease;

  &:focus {
    outline: none;
  }
  &:active {
    transform: translateY(2px);
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  > div {
    flex: 1;
  }
  h1 {
    font-size: 40px;
    line-height: 50px;
  }
  p {
    font-size: 15px;
    opacity: 0.8;
  }
  .box {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 6px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;

    &-blue {
      background-color: $blue;
      p {
        margin: 0;
        text-align: center;
      }
    }
  }
}

.form-control {
  margin-bottom: 30px;
  small {
    text-align: right;
    opacity: 0;
    color: $red;
  }
}

.error {
  border-color: $red;
  color: $red;
}

@media screen and(max-width:768px) {
  .container {
    flex-direction: column;
  }
  h1 {
    text-align: center;
  }
  p {
    text-align: center;
  }
}
