* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

body {
  background: url("images/bg-pattern-desktop.svg") no-repeat center center/cover;
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
  max-width: 1440px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

.container .left {
  width: 60%;
  padding: 0 80px;
}

.container .left .inner-container {
  max-width: 400px;
}

.container .left .logo {
  margin-top: 60px;
  margin-bottom: 100px;
  width: 200px;
}

.container .left .bg-mobile {
  display: none;
}

.container .left h1 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 4rem;
  line-height: 1.1;
  -webkit-transform: translateX(-200%);
          transform: translateX(-200%);
  -webkit-animation: comein 0.5s ease forwards;
          animation: comein 0.5s ease forwards;
}

@-webkit-keyframes comein {
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes comein {
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.container .left h1 span {
  font-weight: 300;
  color: #ce9797;
}

.container .left p {
  margin-top: 1rem;
  line-height: 26px;
  color: #ce9797;
  padding: 3rem 0;
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
  -webkit-animation: comeinright 0.5s ease forwards;
          animation: comeinright 0.5s ease forwards;
}

.container .left form {
  position: relative;
}

.container .left form .error input {
  border: 3px solid #ce9797;
}

.container .left form .error small {
  display: block;
}

.container .left form .error .error-icon {
  display: block;
}

.container .left form input {
  background-color: transparent;
  width: 100%;
  padding: 15px;
  border: 1px solid #ce9797;
  border-radius: 50px;
  color: #ce9797;
  outline: none;
  font-size: 16px;
}

.container .left form input::-webkit-input-placeholder {
  color: #ce9797;
}

.container .left form input:-ms-input-placeholder {
  color: #ce9797;
}

.container .left form input::-ms-input-placeholder {
  color: #ce9797;
}

.container .left form input::placeholder {
  color: #ce9797;
}

.container .left form button {
  position: absolute;
  top: 0;
  right: 0;
  background-image: linear-gradient(135deg, #f8bfbf, #ee8c8c);
  padding: 15px;
  border: none;
  border-radius: 50px;
  width: 100px;
  -webkit-box-shadow: 2px 2px 5px #ce9797;
          box-shadow: 2px 2px 5px #ce9797;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

.container .left form button:hover {
  opacity: 0.8;
}

.container .left form small {
  color: #ce9797;
  display: block;
  margin-top: 20px;
  margin-left: 20px;
  display: none;
}

.container .left form .error-icon {
  position: absolute;
  top: 15%;
  right: 110px;
  display: none;
}

.container .right {
  width: 40%;
}

.container .bg-image {
  background: url("images/hero-desktop.jpg") no-repeat center center/cover;
}

@-webkit-keyframes comeinright {
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes comeinright {
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

/* mobile */
/*# sourceMappingURL=style.css.map */